@import "../../globals/vars";

.novasol-properties {
  box-sizing: border-box;
  font-size: $fontSize;

  &__header {
    text-align: center;
  }

  &__error {
    text-align: center;
  }

  &__loading {
    width: 50px;
    height: 50px;
    margin: 50px auto;
  }
}