@import '../../globals/vars';

.listing {
  width: 300px;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid $borderOutline;

  &:hover {
    [class*="cta"] {
      background-color: $novasolBlue;
    }
  }

  &__img-wrapper {
    &__image {
      height: 200px;
      width: 100%;
      @media (min-width: 700px) {
        max-width: 300px;
      }
    }
  }

  &__description-wrapper {
    padding: 5px;
  }
}