@import '../../globals/vars';

.property-description-text {
  &__paragraph {
    width: 100%;
    max-width: 270px;
    margin: 0 auto;
    border-bottom: 1px solid $borderOutline;
    display: flex;
    justify-content: space-between;

    &--big {
      font-size: 1.3em;
    }

    &--emphasize {
      span {
        font-weight: 700;
      }
    }
  }

  &__cta {
    display: block;
    text-align: center;
    width: 100%;
    max-width: 270px;
    padding: 10px 20px;
    margin: 10px auto;
    text-decoration: none;
    border-radius: 5px;
    background-color: rgba($novasolBlue, 0.9);
    color: $white;
    transition: 0.2s;
    border: none;
    cursor: pointer;
  }
}