@import "../../globals/vars";

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: $gridMax;
  margin: auto;
  border: 1px solid $borderOutline;
  padding: 10px 20px 25px;
}