@import "./globals/vars";

body, html, * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;

  &:link, &:active, &:visited {
    color: $black;
  }
}